<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smu.songgulsongul">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name = "com.smu.songgulsongul.songgul"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name="com.smu.songgulsongul.activity.ZoomActivity">
        </activity>
        <activity
            android:name="com.smu.songgulsongul.activity.AddItemtagActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name="com.smu.songgulsongul.activity.EditDoneActivity" />
        <activity android:name="com.smu.songgulsongul.activity.EditActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.DetectPaperHelpActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name="com.smu.songgulsongul.activity.DetectPicActivity" />
        <activity android:name="com.smu.songgulsongul.activity.EditImageRatioActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.EditImageColorActivity"
            android:parentActivityName="com.smu.songgulsongul.activity.EditActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.EditImageHistogramActivity"
            android:parentActivityName="com.smu.songgulsongul.activity.EditActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.EditImageFilterActivity"
            android:parentActivityName="com.smu.songgulsongul.activity.EditActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.EditImageDenoiseActivity"
            android:parentActivityName="com.smu.songgulsongul.activity.EditActivity" />
        <activity android:name="com.smu.songgulsongul.activity.FirstAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smu.songgulsongul.activity.UploadModeActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name="com.smu.songgulsongul.activity.DetectPaperActivity" />
        <activity android:name="com.smu.songgulsongul.activity.PostActivity" />
        <activity android:name="com.smu.songgulsongul.activity.PostEditActivity" />
        <activity
            android:name="com.smu.songgulsongul.activity.ItemDetailActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
        <activity
            android:name="com.smu.songgulsongul.activity.SaveImageActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name="com.smu.songgulsongul.activity.UploadDetailActivity" />
        <activity android:name="com.smu.songgulsongul.activity.EditProfileActivity" />
        <activity android:name="com.smu.songgulsongul.activity.StickerDetailActivity" />
        <activity android:name="com.smu.songgulsongul.activity.StickerSearchActivity" />
        <activity android:name="com.smu.songgulsongul.activity.KeepActivity" />
        <activity android:name="com.smu.songgulsongul.activity.SettingActivity" />
        <activity android:name="com.smu.songgulsongul.activity.FollowActivity" />
        <activity android:name="com.smu.songgulsongul.activity.PostSearchActivity" />
        <activity android:name="com.smu.songgulsongul.activity.ProfileActivity" />
        <activity android:name="com.smu.songgulsongul.activity.HomeActivity" />
        <activity android:name="com.smu.songgulsongul.activity.UploadActivity" />
        <activity android:name="com.smu.songgulsongul.activity.FindAccountActivity" />
        <activity android:name="com.smu.songgulsongul.RealmTest" />
        <activity android:name="com.smu.songgulsongul.activity.JoinActivity" />
        <activity android:name="com.smu.songgulsongul.activity.LoginActivity" />
        <activity android:name="com.smu.songgulsongul.activity.EditAccountActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>