<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>Main Feed</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
						
			<div class="page-header text-center">
		        <h1><span class="fa fa-book"></span> <%= appName %> </h1>
                <% if(user) { %> 
                    <a href="/me">
                        <img src="/<%= user.img_profile %>" width="50" height="50">
                    </a>
                    <a href="#">+</a>
		            <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
                <% } %> 
		    </div>
			<br>
		    <div class="row">
		
		        <div class="col-sm-6">
		            <div class="well">
						<form action="/post/search/tag" method="post">
							<input type="text" name="searchKeyword" class="searchKeyword" placeholder="searchKeyword">
							<input type="submit" value="search">
						</form>
		            </div>
					<div class="well">
						<% for(var i = 0;i < posts.length; i++) { %>
							<a href="/post/<%= posts[i].id  %> ">
								<img src="/<%= posts[i].image %> " width="200" height="150">
							</a>
							<br>
						<% } %>  
					</div>
		        </div>
		
		    </div>
			
		</div>	
			
	</body>
</html>