<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>Main Feed</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
		    <div class="row">
		
		        <div class="col-sm-6">
		            <div class="well">
						<form action="/post/search/tag" method="post">
							<input type="text" name="searchKeyword" class="searchKeyword" value=<%= searchKeyword %> >
							<input type="submit" value="searchTag">
						</form>
						<form action="/post/search/id" method="post">
							<input type="text" name="searchKeyword" class="searchKeyword" value=<%= searchKeyword %> >
							<input type="submit" value="searchId">
						</form>
		            </div>
					<div class="well">
						<h4>id</h4>
						<% for(var i = 0;i < posts.length; i++) { %>
                            <img src="/<%= posts[i].img_profile %> " width="200" height="150">
                            <br>
                        <% } %> 
					</div>
		        </div>
		
		    </div>
			
		</div>	
	</body>
</html>